@{
    ViewBag.Title = "Hakkında";
}

<div class="container mt-5" style="max-width:600px;">
    <h2 class="mb-4">Hakkında</h2>
    <p>
        <strong>Kütüphane Yönetim Sistemi</strong> projesi, bir kütüphanenin kitap ve yazar yönetimini kolaylaştırmak için geliştirilmiştir.
        <br/><br/>
        Bu proje eğitim amaçlı olup; kitap ekleme, düzenleme, silme ve yazar işlemlerini hılzı ve kullanıcı dostu bir arayüzle sunar.
        <br/><br/>
        <b>Geliştirici:</b> Halenur Gürel <br/>
        <b>Yıl:</b> 2025

    </p>
</div>